
// @import '../../App.scss';

// .services {
//   background: linear-gradient(180deg, #061829, #095a9b);
//   height: auto;
//   width: screen;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   padding: 1rem 0;

//   @include tablet {
//     height: auto;
//     padding-top: 0;
//   }

//   @include mobile {
//     height: auto;
//     padding-top: 0;
//   }

//   @media screen and (min-width: 769px) and (max-width: 1170px) {
//     margin-left: 3rem;
//     width: fit-content;
//   }

//   .textContainer {
//     flex: 1;
//     align-self: flex-end;
//     display: flex;
//     align-items: center;
//     gap: 2rem;
//     margin-right: 5rem;
//     width: fit-content;

//     @include tablet {
//       gap: 1rem;
//       margin-right: 2rem;
//     }

//     @include mobile {
//       gap: 1rem;
//       margin-right: 1rem;
//     }

//     @media screen and (min-width: 769px) and (max-width: 1170px) {
//       margin-right: 3em;
//     }

//     p {
//       font-weight: 200;
//       font-size: 1.5rem;
//       color: gray;
//       text-align: right;
//       font-family: 'Helvetica Neue';
//       width: fit-content;

//       @include tablet {
//         font-size: 1rem;
//         padding-top: 0.7rem;
//       }

//       @include mobile {
//         font-size: 0.8rem;
//         padding-top: 0.5rem;
//       }

//       @media screen and (min-width: 769px) and (max-width: 1170px) {
//         font-size: 1rem;
//       }

//       span {
//         display: block;
//         font-family: 'Helvetica Neue';
//       }
//     }
//   }

//   .titleContainer {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     flex: 2;
//     margin: auto;
//     width: fit-content;
//     line-height: 6rem;

//     @include tablet {
//       margin-top: 1.5rem;
//     }

//     @include mobile {
//       margin-top: 1.5rem;
//       line-height: 3rem;
//     }

//     @media screen and (min-width: 769px) and (max-width: 1170px) {
//       padding-bottom: 5rem;
//     }

//     .title {
//       display: flex;
//       align-items: center;
//       gap: 4rem;

//       @include mobile {
//         gap: 1rem;
//       }

//       @include tablet {
//         gap: 2rem;
//         line-height: 4rem;
//       }

//       @media screen and (min-width: 769px) and (max-width: 1170px) {
//         gap: 0.5rem;
//       }

//       h1 {
//         font-size: 5rem;
//         font-weight: lighter;

//         @include mobile {
//           font-size: 2rem;
//         }

//         @include tablet {
//           font-size: 3rem;
//         }

//         @media screen and (min-width: 769px) and (max-width: 1170px) {
//           font-size: 3.5rem;
//         }
//       }
//     }
//   }

//   .listContainer {
//     display: flex;
//     justify-content: center;
//     margin: auto;
//     padding: 0 1rem 0 0rem;
//     flex-wrap: wrap;
//     margin-top: 6rem;
//     gap: 2rem;

//     .slick-slide {
//       display: flex;
//       justify-content: center;
//       width: 100%;
//     }

//     @include mobile {
//       margin: 2rem auto;
//       flex-direction: column;
//       gap: 2rem;
//       padding: 0;
//     }

//     @include tablet {
//       margin: 2rem auto;
//       max-width: 40rem;
//       gap: 2rem;
//       flex-wrap: wrap;
//       padding: 0;
//     }

//     @media screen and (min-width: 769px) and (max-width: 1170px) {
//       margin: 2rem auto;
//       max-width: fit-content;
//       gap: 2rem;
//       flex-wrap: wrap;
//       padding-left: 2rem;
//     }

//     .box {
//       padding: 0 1rem;
//       border: 0.5px solid #bddffa;
//       display: flex;
//       flex-direction: column;
//       gap: 2rem;
//       height: 19em;
//       width: 25%;
//       border-radius: 2rem;
//       padding: 1rem 1rem 2rem 1rem;

//       &:hover {
//         transform: scale(0.95);
//       }

//       .serviceTitle {
//         font-size: 1.4rem;
//         animation: none;
//         color: #3faaf1;

//         @include tablet {
//           font-size: 1.2rem;
//         }

//         @include mobile {
//           font-size: 1.1rem;
//         }
//       }

//       p {
//         font-size: 1rem;

//         line-height: 2rem;
//         color: #f1f8fe;

//         @include tablet {
//           font-size: 1rem;
//           line-height: 1.7rem;
//         }

//         @include mobile {
//           font-size: 1rem;
//           line-height: 1.7rem;
//         }
//       }

//       @include mobile {
//         border: 0.5px solid gray;
//         border-radius: 10px;
//         width: 80%;
//         margin: auto;
//         height: 17rem;

//         &:hover {
//           transform: none;
//         }
//       }

//       @include tablet {
//         border: 0.5px solid gray;
//         border-radius: 10px;
//         width: 45%;
//         height: 19rem;
//         margin: auto;
//         gap: 1rem;

//         &:hover {
//           transform: none;
//         }
//       }

//       @media screen and (min-width: 500px) and (max-width: 560px) {
//         width: 46%;
//         height: 20rem;
//       }

//       @media screen and (min-width: 769px) and (max-width: 1016px) {
//         height: 23rem;
//         width: 30%;
//         border-radius: 10px;
//       }

//       @media screen and (min-width: 1017px) and (max-width: 1170px) {
//         height: 20rem;
//         width: 30%;
//         border-radius: 10px;
//       }
//     }
//   }
// }

@import '../../App.scss';

.services {
  background: linear-gradient(180deg, #061829, #095a9b);
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;

  @include tablet {
    height: auto;
    padding-top: 0;
  }

  @include mobile {
    height: auto;
    padding-top: 0;
  }

  @media screen and (min-width: 769px) and (max-width: 1170px) {
    padding-left: 3rem;
  }

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-right: 5rem;
    width: fit-content;

    @include tablet {
      gap: 1rem;
      margin-right: 2rem;
    }

    @include mobile {
      gap: 1rem;
      margin-right: 1rem;
    }

    @media screen and (min-width: 769px) and (max-width: 1170px) {
      margin-right: 3em;
    }

    p {
      font-weight: 200;
      font-size: 1.5rem;
      color: gray;
      text-align: right;
      font-family: 'Helvetica Neue';
      width: fit-content;

      @include tablet {
        font-size: 1rem;
        padding-top: 0.7rem;
      }

      @include mobile {
        font-size: 0.8rem;
        padding-top: 0.5rem;
      }

      @media screen and (min-width: 769px) and (max-width: 1170px) {
        font-size: 1rem;
      }

      span {
        display: block;
        font-family: 'Helvetica Neue';
      }
    }
  }

  .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    margin: auto;
    width: fit-content;
    line-height: 6rem;

    @include tablet {
      margin-top: 1.5rem;
    }

    @include mobile {
      margin-top: 1.5rem;
      line-height: 3rem;
    }

    @media screen and (min-width: 769px) and (max-width: 1170px) {
      padding-bottom: 5rem;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 4rem;

      @include mobile {
        gap: 1rem;
      }

      @include tablet {
        gap: 2rem;
        line-height: 4rem;
      }

      @media screen and (min-width: 769px) and (max-width: 1170px) {
        gap: 0.5rem;
      }

      h1 {
        font-size: 5rem;
        font-weight: lighter;

        @include mobile {
          font-size: 2rem;
        }

        @include tablet {
          font-size: 3rem;
        }

        @media screen and (min-width: 769px) and (max-width: 1170px) {
          font-size: 3.5rem;
        }
      }
    }
  }

  .listContainer {
    margin: auto;
    padding: 0 3rem 0 5rem;
    margin-top: 6rem;
    width: 90%;

    .slick-slider {
      padding: 0 2rem;

      @include mobile {
        padding: 0 1rem;
        width: 100%;
      }

      @media screen and (min-width: 769px) and (max-width: 1170px) {
          width: 100%;
          padding: 0 1rem;
        }
    }

    

    .slick-slide {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0 1rem;
    }
     .slick-next,
    .slick-prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 2.5rem;
      height: 2.5rem;
      background-color:  #095a9b;
      border: none;
      cursor: pointer;
      z-index: 1;
    }

    .slick-next {
      margin: 0;
    }

    @include mobile {
      padding: 0 1rem;
    }

    @include tablet {
      max-width: 40rem;
      padding: 0;
    }

    @media screen and (min-width: 769px) and (max-width: 1170px) {
      margin: 2rem auto;
      max-width: fit-content;
      padding: 0 2rem 0 3rem;
    }

    .box {
      padding: 0 1rem;
      border: 0.5px solid #bddffa;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      height: 19em;
      width: 25%;
      border-radius: 2rem;
      padding: 1rem 1rem 2rem 1rem;

      &:hover {
        transform: scale(0.95);
      }

      .serviceTitle {
        font-size: 1.4rem;
        animation: none;
        color: #3faaf1;

        @include tablet {
          font-size: 1.2rem;
        }

        @include mobile {
          font-size: 1.1rem;
        }

        @media screen and (min-width: 769px) and (max-width: 1170px) {
          font-size: 1.2rem;
        }
      }

      p {
        font-size: 1rem;
        line-height: 2rem;
        color: #f1f8fe;
        padding-top: 2rem;

        @include tablet {
          font-size: 1rem;
          line-height: 1.7rem;
        }

        @include mobile {
          font-size: 0.9rem;
          line-height: 1.7rem;
        }

        @media screen and (min-width: 769px) and (max-width: 1170px) {
          line-height: 1.6rem;
          
         
        }
      }

      @include mobile {
        border: 0.5px solid gray;
        border-radius: 10px;
        width: 100%;
        margin: auto;
        height: 20rem;

        &:hover {
          transform: none;
        }
      }

      @include tablet {
        border: 0.5px solid gray;
        border-radius: 10px;
        width: 100%;
        height: 21rem;
        margin: auto;
        gap: 1rem;

        &:hover {
          transform: none;
        }
      }

      @media screen and (min-width: 500px) and (max-width: 560px) {
        width: 46%;
        height: 20rem;
      }

      @media screen and (min-width: 769px) and (max-width: 1016px) {
        height: 23rem;
        width: 30%;
        border-radius: 10px;
      }

      @media screen and (min-width: 1017px) and (max-width: 1170px) {
        height: 23rem;
        width: 30%;
        border-radius: 10px;
      }
    }
  }
}
