@import "../../App.scss";

.portfolio{
  position: relative;
  margin-left: 2rem;

  @include tablet {
    margin-left: 0;
  }

  @include mobile {
    margin-left: 0;
  }

  @media screen and (min-width: 769px) and (max-width: 1170px) {
    margin-left: 4rem;
  }

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding: 2.125rem;
    text-align: center;
    color: #0972c0;
    font-size: 3rem;
    z-index: 9999;
    background-color: #061829;

    @include mobile {
      font-size: 1.2rem;
      height: 80%;
      margin-left: 0;
    }

    @include tablet {
      font-size: 1.5rem;
      margin-left: 0;
    }

    .progressBar {
      height: 0.625rem;
      background: white;
      z-index: 9999;

      @include mobile {
        height: 0.4rem;
      }

      @include tablet {
        height: 0.5rem;
      }
    }
  }

  .all {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transform: translateY(10%);
    margin-top: 10rem;

      @include tablet {
        flex-direction: column;
        height: auto;
        transform: translateY(0%);
        margin-top: 3rem;

      }

      @include mobile {
        flex-direction: column;
        height: auto;
        transform: translateY(0%);
        margin-top: 2rem;

      }

      @media screen and (min-width: 769px) and (max-width: 1170px) {
        margin-top: 0;
      }


    .wrapper {
      width: 100%;
      max-width: 90%;
      height: 50vh; 
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;
      margin: auto;
      justify-content: space-around;
      padding: 1rem; 
      

      @include tablet {
        flex-direction: column;
        height: auto;
        width: 60%;
        margin: 0 2rem;
        padding: 2rem 0;
        border: 1px solid #bce0fb;
        border-radius: 10px;
      }

      @include mobile {
        flex-direction: column;
        height: 100%;
        width: 100%;
        margin: 0 2rem;
        padding: 1rem 0;
        border: 1px solid #bce0fb;
        border-radius: 10px;
        
      }

      @media screen and (min-width: 769px) and (max-width: 1170px) {
        width: 100%;
        height: 50vh;
        margin: 0;
        padding: .3rem;
      }
      

      .imageContain {
        flex: 1;
        max-width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          object-fit: cover;
        }

        @include tablet {
          max-width: 95%;
          height: 100%;
        }

        @include mobile {
          max-width: 95%;
        }

        @media screen and (min-width: 769px) and (max-width: 1170px) {
          max-width: 48%;
          height: 60%;
        }
      
        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
      }
      
      .text {
        flex: 1;
        max-width: 42%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 0 1rem;

        @include tablet {
          max-width: 90%;
          gap: 1rem;
          padding: 0;
        }

        @include mobile {
          max-width: 90%;
          gap: 1rem;
          padding: 0;
        }

        @media screen and (min-width: 769px) and (max-width: 1170px) {
          gap: .7rem;
          max-width: 45%;
        }
  
        h2 {
          font-size: 2rem;

          @include mobile {
            font-size: 1.2rem;
          }

          @include tablet {
            font-size: 1.3rem;
          }

          @media screen and (min-width: 769px) and (max-width: 1170px) {
            font-size: 1.4rem;
          }
        }
  
        p{
          color: #bce0fb;
          line-height: 1.3rem;
          letter-spacing: 1px;
          font-size: 1.2rem;
          font-family: "Helvetica Neue";

          @include tablet {
            font-size: 1rem;
          }

          @include mobile {
            font-size: 0.8rem;
          }

          @media screen and (min-width: 769px) and (max-width: 1170px) {
            font-size: .8rem;
          }
        }
  
        .stacks {
          color: #0972c0;
          letter-spacing: 2px;
          font-size: 1.2rem;
          line-height: 1.3rem;

          @include tablet {
            line-height: 1.4rem;
          }

          @include mobile {
            font-size: .9rem;
            line-height: 1.2rem;

          }

          @media screen and (min-width: 769px) and (max-width: 1170px) {
            font-size: .7rem;
          }
        }
  
        .links{
          display: flex;
          justify-content: space-between;
          margin-top: .5rem;
          padding: 0 1rem 0 0;
  
          .link {
            display: flex;
            gap: 10px;
            font-size: 1rem;
            align-items: center;
            cursor: pointer;
            z-index: 1000;
                  
            &:hover {
              transform: scale(1.1);
            }
  
            span{
              color: #e1f0fd;
            }
          }
        }
      }
    }
  }
  
}