@import "../../App.scss";

.cursor {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid #e1f0fd;
    position: fixed;
    z-index: 10000;

    @include mobile {
        display: none;
    }

    @include tablet {
        display: none;
    }
}